@using KaiOs_Registration.Models;
@model RegistrationComplete
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Registration Complete</h4>
    <p>Registration has been completed - The users temporary password is : @Model.Password</p>
</div>